@* book *@
<h1>List</h1>

<p>
    <a asp-action="Manage">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Rendering Egine
            </th>
            <th>
                Browser
            </th>
            <th>
                Platform(s)
            </th>
            <th>
                Engine version
            </th>
            <th>
                CSS grade
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trident</td>
            <td>
                Internet
                Explorer 4.0
            </td>
            <td>Win 95+</td>
            <td> 4</td>
            <td>X</td>
        </tr>

        <tr>
            <td>Trident</td>
            <td>
                Internet
                Explorer 5.0
            </td>
            <td>Win 95+</td>
            <td>5</td>
            <td>C</td>
        </tr>

        <tr>
            <td>Trident</td>
            <td>
                Internet
                Explorer 5.5
            </td>
            <td>Win 95+</td>
            <td>5.5</td>
            <td>A</td>
        </tr>

    </tbody>
</table>




@*<script>
    document.addEventListener("DOMContentLoaded", function () {

        $('#book-list').addClass("active");

        $('#book-opener').addClass("menu-open")
        $('#book-main').addClass("active");
    });
</script>*@


@* 
NOTE
    Yukaridaki scripti calistirmak icin _LefMenuPartial.cshtml de ki linkelere #book-list, #book-opener, #book-main gibi ID ler vermek gerekiyor.

*@