<footer class="main-footer navbar-dark">
    <strong>
        2021 <strong style="color:dodgerblue"> GRUP3 </strong>
        
    </strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>